.filled-text {
  --fill-color: #7db6e2;
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke: 2px #198CE6;
  /* The animation direction is mainly influenced by background-position, the degree does not matter
    * bottom = start from center, moving towards edges
    * top = same as 'bottom' but seems laggier
    * left or right = start from that edge 
  */
  background: linear-gradient(0deg, var(--fill-color) 0%, var(--fill-color) 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 0;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.4s linear;
}

.card:hover .filled-text {
  background-size: 100%;
}
