.filled-text {
  padding: 6px 0;
  --fill-color: #198CE6;
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(90deg, var(--fill-color) 0%, var(--fill-color) 100%);
  background-size: 0;
  background-position: left;
  background-repeat: no-repeat;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.5s linear;
}

.flexy:hover .filled-text {
  background-size: 100%;
}
